/* === PIZZAS === */

#pizzas {
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 1.2em;*/
    height: auto;
    width: 98%;
    margin: 20px auto;
    border: 1px solid gray;
    padding: 10px;
}

#pizzas tbody {
    width: 100%;
}

#pizzas th {
    text-align: left;
}

#pizzas #action-column {
    text-align: center;
}

#pizzas .delete-button {
    background-color: lightgray;
    padding: 0.25em;
    border-radius: 0.5em;
    cursor: pointer;
}

.topping-list li {
    list-style: none;
}