@media (max-width: 549px) {
    .hidden--mobile {
        display: none !important;
    }

    nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    nav>i {
        padding: 1rem;
        font-size: 2em;
    }

    nav>ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 0;
    }

    nav>ul>li {
        padding: 0.5rem;
        list-style-type: none;
    }
}

@media (min-width: 550px) {
    nav>ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0 0;
    }

    nav>ul>li {
        display: inline-block;
        text-decoration: none;
        border: 1px solid;
        padding: 0.5rem 0.5rem;
        border-radius: 25px;
    }

    nav>ul>li:hover {
        border: 1px blue solid;
    }

    nav>ul>li :hover {
        color: red;
    }

    nav>.fa-bars {
        display: none;
    }
}